/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2016-07-08, 22:29:50
    Author     : sylwester
*/

table {
    width: 100%;
}

th, td {
    border-bottom: 1px solid #ddd;
}

tr:nth-child(even) {background-color: #f2f2f2}

tr:hover {background-color: #ccffcc}

